nome_mural{
	text-align: center;
	font-family: 'Arial';
	font-size: 16px;
	text-decoration: underline;
}
txt_mural{
	text-align: center;
	font-family: 'verdana';
	font-size: 16px;
	text-decoration: none;
}