	<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type='text/css' href='/static/site.css' media="all">
		<title>
			    {% block title %}

    			{% endblock %}
		</title>
	</head>

	<body>
		<ul class="topnav">
			<li><a class="left" href="/templates/index.html">
  			<img alt="Impacta_home" src="/static/impacta.png" width="150" height="40"></a></li>
  			<li><a class="link_nav" href="/templates/index.html">Home</a></li>
  			<li><a class="link_nav" href="/templates/lista_cursos.html">Lista de Cursos </a></li>
  			<li><a class="link_nav" href="/templates/detalhe_curso.html ">Detalhe de Cursos</a></li>
  			<li><a class="link_nav" href="/templates/disciplina.html">Disciplinas</a></li>
  			<li><a class="link_nav" href="/templates/noticias.html">Notícias</a></li>
			<li><a class="link_nav" href="/templates/contato.html">Contato</a></li>
			{% if not usuario %}
			<li><a class="link_nav" href="/login.html">Login</a></li>
			{% endif %}
			
		</ul>
  		<div class="header">
  			<div>
				<img class="FIT_LOGO" src = "/static/impacta1.png" alt="Impacta_logo" class="logo_normal"/>
            </div>
            
		<div class="titulo">
			Faculdade Impacta Tecnologia
		</div>
		</div>
  		<br><br><br>
  		<section class="corpo">
  			<main>
  				{% block main %}

    			{% endblock %}
			</main>
		</section>
		<div class="footer"><strong><lista_cursos>© Todos os Direitos Reservados 2017</lista_cursos></strong></div>
</body>
</html>